/* prevents adjustments of font size when orientatino changes */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/* apply a natural box layout model to all elements */
* {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}


// HEADER RULES
header {
  padding: 1rem 2%;
  background-color: $primaryColor;
}


// MAIN RULES
header h1 {
  color: white;
}

header img {
  float: left;
  padding-right: 2%;
}

figure {
  float: left;
  margin: 2%;
}

figure img {
  width: 25%;
  padding: 0;
}






/* clearfix: force an element not to collapse */
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }